<!-- Шаблон footer.html -->
<!-- Использованы классы бустрапа: -->
<!-- border-top: создаёт тонкую линию сверху блока -->
<!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
<!-- py-3: контент внутри размещается с отсупом сверху и снизу -->
<footer class="row tm-row">
    <hr class="col-12">
    <div class="col-md-6 col-12 tm-color-gray">
        Design: <a rel="nofollow" target="_parent" href="https://github.com/Druvo/xtra_blog" class="tm-external-link">Xtra Blog</a>
    </div>
<!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
    <div class="col-md-6 col-12 tm-color-gray tm-copyright">
      © {% now "Y" %} Copyright <span style="color:#FFAA00">Ya</span>tube
    </div>
</footer>