{% extends 'base.html' %}
{% block title %}
  Контент моих любимых авторов
{% endblock %}

{% block content %}
  {% load posts_filters %} {# Загружаем фильтры #}
  <div class="row tm-row">
    <div class="col-12">
      <h1 class="tm-color-primary">Контент моих любимых авторов</h1>
    </div>
  </div>
  <div class="row tm-row">
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
    {% endfor %}
  </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
