{% extends 'base.html' %}
{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %}

{% block content %}
  <div class="row tm-row">
    <div class="col-12">
      <h1 class="tm-color-primary">{{ group.title }}</h1>
        <p>{{ group.description|safe|linebreaksbr }}</p>
    </div>
  </div>
  <div class="row tm-row">
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
    {% endfor %}
  </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
