{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
  {% load posts_filters %} {# Загружаем фильтры #}
  <div class="row tm-row">
    <div class="col-12">
      <h1 class="tm-color-primary">Все посты пользователя {{ author.get_full_name }} <i class="fas fa-edit tm-color-primary"></i> {{ count }}</h1>
        {% if show_follow_button %}
          {% include 'posts/includes/follow_button.html' %}
        {% endif %}
    </div>
    <div class="col-12 tm-mb-15">
    <span class="tm-color-primary">
      {% if author.following.count > 0 %}
        Подписчики автора ({{ author.following.count }}):
        {% for follower in author.following.all %}
          <a class="tm-border" href="{% url 'post:profile' follower.user.username %}" title="Профиль пользователя {{ follower.user.get_full_name }}">
            {{ follower.user.get_full_name }}</a>
        {% endfor %}
      {% else %}
        Подписчиков пока нет
      {% endif %}</span>
      </div>
    <div class="col-12 tm-mb-40">
    <span class="tm-color-primary">
    {%  if author.follower.count > 0 %}
      На кого подписан автор ({{ author.follower.count }}):
      {% for following in author.follower.all %}
          <a class="tm-border" href="{% url 'post:profile' following.author.username %}" title="Профиль пользователя {{ following.author.get_full_name }}">
          {{ following.author.get_full_name }}</a>
      {% endfor %}
      {% else %}
        Автор ни на кого не подписан
      {% endif %}</span>
    </div>
  </div>

  <div class="row tm-row">
  {% for post in page_obj %}
    {% include 'posts/includes/post_list.html' %}
  {% endfor %}
  </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}