{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="row tm-row tm-mb-120">
  <div class="col-12">
    <hr class="tm-hr-primary tm-mb-55" />
    <h2 class="tm-color-primary tm-post-title tm-mb-60">Сброс пароля</h2>
  <p>Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались</p>
  </div>
  <div class="col-lg-7 tm-contact-form">
        <form method="post" action="{% url 'users:password_reset_form' %}" class="mb-5 ml-auto mr-0 tm-contact-form">
          {% csrf_token %}
          <div class="form-group row mb-4">
            <label for="id_email" class="col-sm-6 col-form-label tm-color-primary">
              Адрес электронной почты
              <span class="required text-danger">*</span>
            </label>
            <div class="col-sm-12">
            <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
          </div>
          </div>
      <div class="form-group row text-right">
        <div class="col-12">
          <button type="submit" class="tm-btn tm-btn-primary tm-btn-small">
              Сбросить пароль
          </button>
        </div>
      </div>
        </form>
  </div>
</div>
{% endblock %}
