{% extends "base.html" %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}
{% block content %}
<div class="row tm-row tm-mb-40">
  <div class="col-12">
    <hr class="tm-hr-primary tm-mb-55">
    <div class="mb-4">
      <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">Восстановление пароля завершено</h2>
        <p>
          Ваш пароль был сохранен. Используйте его для входа
        </p>
        <a href="{% url 'users:login' %}" class="tm-color-primary">войти</a>
        </div>
    </div>
</div>
{% endblock %}