{% extends "base.html" %}
{% autoescape off %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row tm-row tm-mb-120">
  {% if validlink %}
  <div class="col-12">
    <hr class="tm-hr-primary tm-mb-55" />
    <h2 class="tm-color-primary tm-post-title tm-mb-60">Введите новый пароль</h2>
  </div>
  <div class="col-lg-7 tm-contact-form">
    <form method="post" class="mb-5 ml-auto mr-0 tm-contact-form">
      {% csrf_token %}
      <div class="form-group row mb-4">
        <label for="id_new_password1" class="col-sm-6 col-form-label tm-color-primary">
          Новый пароль
          <span class="required text-danger">*</span>
        </label>
        <div class="col-sm-12">
        <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
        <small id="id_new_password1-help" class="form-text text-muted">
          <ul><li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul>
        </small>
      </div>
      </div>
      <div class="form-group row mb-4">
        <label for="id_new_password2" class="col-sm-6 col-form-label tm-color-primary">
          Подтверждение нового пароля
          <span class="required text-danger">*</span>
        </label>
        <div class="col-sm-12">
        <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
      </div>
      </div>
      <div class="form-group row text-right">
        <div class="col-12">
          <button type="submit" class="tm-btn tm-btn-primary tm-btn-small">
          Назначить новый пароль
          </button>
        </div>
      </div>
    </form>
  </div>
  {% else %}
    <div class="row tm-row tm-mb-40">
      <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <div class="mb-4">
          <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">Ошибка</h2>
            <p>
              Ссылка сброса пароля содержит ошибку или устарела.
            </p>
            </div>
        </div>
    </div>
  {% endif %}
</div>
{% endblock %}
{% endautoescape %}